@font-face { font-family: Memphis LT Std Medium; src: url('../fonts/MemphisLTStd-Bold.otf'); }

#featured > div {
	z-index: 10;
	position: relative;
	width: 620px;
	margin: -20px 0 -20px -30px;
	height: 300px;
}

	#featured > div > .slide  {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: 12;
		display: none;
	}
	
	#featured > div > .s1 { background: url('../images/slide1.png'); display: block; }
	#featured > div > .s2 { background: url('../images/slide2.png'); }
	#featured > div > .s3 { background: url('../images/slide3.png'); }
	#featured > div > .s4 { background: url('../images/slide4.png'); }
	#featured > div > .s5 { background: url('../images/slide5.png'); }
	
	#featured > div > .text {
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 10px 20px;
		z-index: 15;
	}
	
		#featured > div > .text > h3, #featured > div > .text > #countdown {
			color: white;
			margin: 0;
		}