#slides {
	margin: -5px -5px 10px -5px;
	/*margin: -20px;
	margin-bottom: 20px;
	padding: 20px;*/
	overflow:hidden;
	/*background-color: #000;*/
}

.kwicks {
	list-style:none;
	position:relative;
	margin:0;
	padding:0;
	border-right:#FFF 5px solid;
}

.kwicks .slide {
	float:left;
	display:block;
	width:150px;
	height:310px;
	overflow:hidden;
	-moz-box-shadow: inset 0px 0px 30px #000;
	-webkit-box-shadow: inset 0px 0px 30px #000;
	box-shadow: inset 0 0 30px #000;
}

.kwicks .post {
	position:relative;
	padding:0;
	width:450px;
	height:300px;
	border:#FFF 5px solid;
}

.opacity {
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	width:450px;
	height:300px;
	background:#FFF;
	opacity:0.1;
}

.overlay {
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	width:450px;
	height:300px;
}

.kwicks .post .entry-container {
	position:absolute;
	bottom:0;
	right:0;
	padding:10px;
	margin:10px;
	background:rgba(0,0,0,0.3);
	display:none;
	width:50%;
}